body {
    font-family: 'Bellefair', serif;
    padding-top: 20px;
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/081/125/original/photo.jpg?1683581374");
    background-size: cover;
    background-repeat: no-repeat;
}
h2 {
    font-size: 20px;
    text-align: center;
}
h3 {
  font-size: 40px;
}
.units { 
    cursor: pointer;  
}
h4, h5, h6 {
    text-align: center;
}
.city {
  font-size: 35px;
}
.current {
    position: relative;
    left: 50px;
}
.wind, .uv, .sun {
    text-decoration: underline;
    font-size: 20px;
}
.units {
    font-size: 20px;
    position: relative;
    top: -25px;
}
.right {
    position: relative;
    right: 50px;
}
.left {
    position: relative;
    left: 50px;
}
.high {
    position: relative;
    right: 50px;
    color: red;
    font-size: 15px;
}
.low {
    position: relative;
    left: 50px;
    color: blue;
    font-size: 15px;
}
.sunrise {
    position: relative;
    right: 50px;
}
.sunset {
    position: relative;
    left: 50px;
}
.cities {
    position: relative;
    left: 150px;
}
button {
    text-align: center;
    color: #1b64d7;
    margin: auto;
    display: block;
    background: white;
    border-color: #1b64d7;
    border: 1px solid #1b64d7;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgba(189, 188, 191, 0.4);
    transition: all 200ms ease-in-out;
}
button:hover {
    background: #1b64d7;
    color: white;
    cursor: pointer;
}
.btn1 {
    padding: 10px 27px 10px 27px;
}
.btn2 {
    padding: 10px 15px 10px 15px;
}
.btn3, .btn4 {
    padding: 10px 29px 10px 29px; 
}
.btn5 {
    padding: 10px 20px 10px 20px;
}